<template>
  <div id="NavigationBar-base">
    <div>
      <img src="../../assets/BACAANKU.png" alt="BACAANKU logo" v-on:click="toHome" />
    </div>
    <div id="logout-button" v-if="isLoggedIn">
      <button v-on:click="logOut">Log Out</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "NavigationBar",
  data: function () {
    return {
      isLoggedIn: false,
    };
  },
  mounted() {
    if (localStorage.isLoggedIn !== undefined) {
      this.isLoggedIn = (localStorage.isLoggedIn === "true");
    }
  },
  methods: {
    toHome: function () {
      this.$router.push("/");
    },
    logOut: function () {
      localStorage.isLoggedIn = false;
      localStorage.access = null;
      localStorage.refresh = null;
      location.reload();
    },
  },
};
</script>

<style scoped>
#NavigationBar-base {
  background-color: #023e8a;
  margin-bottom: 60px;
  padding: 10px;
  min-width: 464px;
  display: flex;
  align-items: center;
}
img {
  display: block;
  margin-left: 10px;
  width: 200px;
}

img:hover {
  cursor: pointer;
}

#logout-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

button:hover {
  cursor: pointer;
  background-color: #999999;
}

button {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
</style>