<template>
  <div id="Bodylist-base">
    <table>
      <tr>
        <th id="cover-th">Cover</th>
        <th id="title-th">Title</th>
        <th id="author-th">Author</th>
        <th id="action-th">Action</th>
      </tr>
      <tr v-for="book in booksList" :key="book.id">
        <td>
          <img v-bind:src="book.gThumbnail" />
        </td>
        <td class="title-td">{{ book.gTitle }}</td>
        <td class="author-td">{{ book.gAuthor }}</td>
        <td>
          <button class="action" id="change">
            <i class="gg-arrows-exchange"></i>
          </button>
          <button class="action" id="remove">
            <i class="gg-trash"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Bodylist",
  components: {},
  props: ["status"],
  data: function () {
    return {
      booksList: [],
    };
  },
  mounted() {
    axios
      .post("http://127.0.0.1:8000/api/token/refresh/", {
        refresh: localStorage.refresh,
      })
      .then((response) => {
        localStorage.access = response.data.access;
        const configs = {
          headers: { Authorization: `Bearer ${localStorage.access}` },
        };
        axios
          .get(
            "http://localhost:8000/apis/book-interacted-list?status=" +
              this.status,
            configs
          )
          .then((response) => {
            this.booksList = response.data;
          })
          .catch((error) => {
            console.log(error.data);
          });
      });
  },
  methods: {},
};
</script>

<style scoped>
#Bodylist-base {
}

td {
  vertical-align: top;
}

th {
  text-align: left;
}

#cover-th {
  width: 150px;
}

#title-th {
  width: 250px;
}

.title-td {
  padding-right: 20px;
}

#author-th {
  width: 200px;
}

.author-td {
  padding-right: 20px;
}

.gg-arrows-exchange {
  /* This value will multiple the actual size  */
  --ggs: 1;
}

.gg-trash {
  --ggs: 1;
}

button.action {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: white;
  border-width: 2px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

button#remove:hover {
  background-color: white;
  cursor: pointer;
}

button#change {
  border-color: #CAF0F8;
}

button#change:hover {
  cursor: pointer;
  background-color: #CAF0F8;
}

button#remove {
  background-color: #f44336;
}

i {
  margin: auto;
}

#action-th {
  text-align:justify;
}
</style>