<template>
  <div id="Librarypage-base">
    <NavigationBar />
    <div class="Librarypage-section">
      <div class="library-button-section">
        <button v-on:click="wishlistStatus">Wishlist</button>
        <button v-on:click="onreadStatus">Currently Reading</button>
        <button v-on:click="readStatus">Read</button>
      </div>
      <div v-if="status === 'wishlist'">
        <Bodylist status='wishlist'/>
      </div>
      <div v-else-if="status === 'onread'">
        <Bodylist status='onread'/>
      </div>
      <div v-else-if="status === 'read'">
        <Bodylist status='read'/>
      </div>
    </div>
  </div>
</template>

<script>
import NavigationBar from "../miscs/NavigationBar.vue";
import Bodylist from "../library/Bodylist.vue";

export default {
  name: "Librarypage",
  components: {
    NavigationBar,
    Bodylist,
  },
  data: function () {
    return {
      status: "wishlist",
    };
  },
  methods: {
    wishlistStatus: function () {
      this.status = "wishlist";
    },
    onreadStatus: function () {
      this.status = "onread";
    },
    readStatus: function () {
      this.status = "read";
    },
  },
};
</script>

<style scoped>
.Librarypage-section {
  width: 90%;
  margin: auto;
}

.library-button-section {
  display: flex;
  margin-bottom: 30px;
}

button:hover {
  cursor: pointer;
  background-color: #999999;
}

button {
  background-color: 999999;
  color: black;
  padding: 10px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  min-width: 90px;
  margin-right: 10px;
}
</style>