<template>
  <div id="SearchSection-base">
    <div id="search-input-section">
      <input type="text" placeholder="Search your favorite books here" v-model="searchInput" />

      <img
        src="../../assets/baseline_search_black_48dp.png"
        alt="Search"
        v-on:click="searchForBooks"
        class="search"
      />
    </div>
    <div class="search-results-section">
      <SearchBook
        v-for="result in searchResults"
        v-bind:key="result.id"
        v-bind:bookImageSrc="result.thumbnail"
        v-bind:bookTitle="result.title"
        v-bind:bookAuthor="result.author"
        v-bind:publishedDate="result.publishedDate"
        v-bind:bookShortDescription="result.bookShortDescription"
        v-bind:gId="result.gId"
        v-bind:gSelfLink="result.gSelfLink"
        v-bind:onLibrary="result.onLibrary"
        v-on:save-to-library="saveToLibrary"
        v-bind:bookResultObj="result"
      ></SearchBook>
    </div>
  </div>
</template>

<script>
import SearchBook from "../gBooks/SearchBook.vue";
import axios from "axios";

export default {
  name: "SearchSection",
  components: {
    SearchBook,
  },
  data: function () {
    return {
      searchInput: "",
      searchResults: [],
      userBooksObjects: {},
      booksList: [],
    };
  },
  methods: {
    searchForBooks: function () {
      this.getBooksInteractedList().then(() => {
        this.createBookObjects();
      });
    },
    changeSpace: function (searchStr) {
      return searchStr.replace(/ /g, "+");
    },
    isEmptyObject: function (obj) {
      return !obj || Object.keys(obj).length === 0;
    },
    saveToLibrary: function (payload) {
      axios
        .post("http://127.0.0.1:8000/api/token/refresh/", {
          refresh: localStorage.refresh,
        })
        .then((response) => {
          localStorage.access = response.data.access;
          const configs = {
            headers: { Authorization: `Bearer ${localStorage.access}` },
          };
          axios
            .post(
              "http://127.0.0.1:8000/apis/add-book-interacted",
              payload,
              configs
            )
            .then((response) => {
              console.log(response.data);
            })
            .catch((error) => {
              console.log(error.response.data);
            });
        });
    },
    getBooksInteractedList: function () {
      return axios
        .post("http://127.0.0.1:8000/api/token/refresh/", {
          refresh: localStorage.refresh,
        })
        .then((response) => {
          localStorage.access = response.data.access;
          const configs = {
            headers: { Authorization: `Bearer ${localStorage.access}` },
          };
          axios
            .get("http://localhost:8000/apis/book-interacted-list", configs)
            .then((response) => {
              this.booksList = response.data;
              this.fillBooksInteractedObject();
            })
            .catch((error) => {
              console.log(error.data);
            });
        });
    },
    fillBooksInteractedObject: function () {
      if (this.booksList.length > 0) {
        this.booksList.forEach((element) => {
          this.userBooksObjects[element.gId] = element.gId;
        });
      }
    },
    createBookObjects: function () {
      return axios
        .get(
          "https://www.googleapis.com/books/v1/volumes?q=" +
            this.changeSpace(this.searchInput) +
            "&maxResults=40"
        )
        .then((response) => {
          var conditionedSearchResult = [];
          response.data.items.forEach((element) => {
            var bookObject = {};

            if (element.volumeInfo !== undefined) {
              // cek title
              if (element.volumeInfo.title !== undefined) {
                bookObject.title = element.volumeInfo.title;
              } else {
                bookObject.title = undefined;
              }

              // cek author
              if (element.volumeInfo.authors !== undefined) {
                bookObject.authors = element.volumeInfo.authors;
              } else {
                bookObject.authors = undefined;
              }

              // cek published date
              if (element.volumeInfo.publishedDate !== undefined) {
                bookObject.publishedDate = element.volumeInfo.publishedDate;
              } else {
                bookObject.publishedDate = undefined;
              }

              // cek description
              if (element.volumeInfo.description !== undefined) {
                bookObject.description = element.volumeInfo.description;
              } else {
                bookObject.description = undefined;
              }

              if (bookObject.description !== undefined) {
                bookObject.bookShortDescription = bookObject.description.split(
                  "."
                )[0];
              } else {
                bookObject.bookShortDescription = undefined;
              }

              // cek image link
              if (element.volumeInfo.imageLinks !== undefined) {
                if (element.volumeInfo.imageLinks.thumbnail !== undefined) {
                  bookObject.thumbnail =
                    element.volumeInfo.imageLinks.thumbnail;
                } else {
                  bookObject.thumbnail = undefined;
                }
              } else {
                bookObject.thumbnail = undefined;
              }

              // authors
              if (bookObject.authors !== undefined) {
                var author = "";
                bookObject.authors.forEach((element) => {
                  author += element + ", ";
                });
                var lengthAuthor = author.length;
                bookObject.author = author.slice(0, lengthAuthor - 2);
              } else {
                bookObject.author = undefined;
              }

              bookObject.gSelfLink =
                element.selfLink !== undefined ? element.selfLink : undefined;
              bookObject.gId =
                element.id !== undefined ? element.id : undefined;

              // user's books
              bookObject.onLibrary = bookObject.gId in this.userBooksObjects;
            }
            conditionedSearchResult.push(bookObject);
          });
          this.searchResults = conditionedSearchResult;
        });
    },
  },
};
</script>

<style scoped>
#SearchSection-base {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#search-input-section {
  background-color: #dce0e5;
  display: flex;
  margin: auto;
}

#search-input-section input {
  margin: 10px;
  padding: 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 90%;
}

.search-results-section {
  margin-top: 10px;
}

.search:hover {
  cursor: pointer;
}
</style>