<template>
  <div id="Searchpage-base">
    <NavigationBar />
    <SearchSection />
  </div>
</template>

<script>
import NavigationBar from "../miscs/NavigationBar.vue";
import SearchSection from "../gBooks/SearchSection.vue";

export default {
  name: "Searchpage",
  components: {
    NavigationBar,
    SearchSection,
  },
  data: function () {
    return {
      userBooksList: [],
    };
  },
  beforeRouteEnter(to, from, next) {
    if (localStorage.isLoggedIn === "true") {
      next();
    } else {
      next("/");
    }
  },
};
</script>

<style>
</style>