<template>
  <div id="SearchBook-base">
    <div v-if="bookImageSrc !== undefined">
      <img v-bind:src="bookImageSrc" />
    </div>
    <div v-else>
      <div id="img-container-square">
        <p>Image is not available.</p>
      </div>
    </div>

    <div class="book-info-section">
      <h3>{{ bookTitle }}</h3>
      <p>Author: {{ bookAuthor }} ({{ publishedDate }})</p>
      <p>{{ bookShortDescription }}</p>
    </div>

    <div class="add-book-section">
      <div v-if="onLibrary || bookSaved">
        <button disabled>Already on your library.</button>
      </div>
      <div v-else>
        <div v-if="dropDownActive">
          <div class="save-button">
            <button v-on:click="activateDropDown">X</button>
          </div>
        </div>
        <div v-else>
          <div class="save-button">
            <button v-on:click="activateDropDown">Save</button>
          </div>
        </div>
      </div>

      <div class="choices-button" v-bind:class="{ active: dropDownActive }">
        <button v-on:click="wishlist">Wishlist</button>
        <button v-on:click="onread">Currently Reading</button>
        <button v-on:click="read">Read</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchBook",
  props: [
    "bookImageSrc",
    "bookTitle",
    "bookAuthor",
    "publishedDate",
    "bookShortDescription",
    "gId",
    "gSelfLink",
    "onLibrary",
    "bookResultObj",
  ],
  data: function () {
    return {
      dropDownActive: false,
      dataGId: "",
      dataGSelfLink: "",
      dataGThumbnail: "",
      dataTitle: "",
      bookSaved: false,
      dataBookAuthor: "",
    };
  },
  updated() {
    if (this.dataGId !== this.gId) {
      this.bookSaved = false;
    }

    this.dataGId = this.gId;
    this.dataGSelfLink = this.gSelfLink;
    this.dataTitle = this.bookTitle;
    this.dataGThumbnail = this.bookImageSrc;
    this.dataBookAuthor = this.bookAuthor;
  },
  methods: {
    activateDropDown: function () {
      if (this.dropDownActive) {
        this.dropDownActive = false;
      } else {
        this.dropDownActive = true;
      }
    },
    wishlist: function () {
      this.saveBook("wishlist");
    },
    onread: function () {
      this.saveBook("onread");
    },
    read: function () {
      this.saveBook("read");
    },
    saveBook: function (status) {
      const payload = {
        status: status,
        gSelfLink: this.dataGSelfLink,
        gThumbnail: this.dataGThumbnail,
        gId: this.dataGId,
        gAuthor: this.dataBookAuthor,
        gTitle: this.dataTitle,
      };
      this.$emit("save-to-library", payload);
      this.bookSaved = true;
      this.dropDownActive = false;
    },
  },
};
</script>

<style scoped>
#SearchBook-base {
  display: flex;
  text-align: start;
  margin-bottom: 20px;
}

.book-info-section {
  padding: 0px 10px 10px 10px;
  width: 100%;
}

#img-container-square {
  width: 128px;
  height: 209px;
  text-align: center;
  border-style: solid;
  border-width: 0.2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-button button {
  border: none;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #0359c9;
}

button {
  background-color: #023e8a;
  color: white;
  padding: 10px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

button:disabled {
  background-color: gray;
  color: black;
  border: none;
  border-radius: 10px;
}

.choices-button button {
  width: 140px;
}

.add-book-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.choices-button {
  display: none;
}

.active {
  display: flex;
  flex-direction: column;
}
</style>