<template>
  <div id="Homepage-base">
    <NavigationBar />
    <div id="Homepage-container">
      <HomeDisplay />
      <HomeLogIn />
    </div>
  </div>
</template>

<script>
import HomeLogIn from "./HomeLogIn.vue";
import HomeDisplay from "./HomeDisplay.vue";
import NavigationBar from "../miscs/NavigationBar.vue";

export default {
  name: "Homepage",
  components: {
    HomeLogIn,
    HomeDisplay,
    NavigationBar,
  },
};
</script>

<style scoped>
#Homepage-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}
</style>