<template>
  <div id="HomeLogIn-base">
    <div class="logIn-container">
      <div class="logIn-inner-container">
        <input type="text" placeholder="Username" v-model="logInUsername" />
        <input type="password" placeholder="Password" v-model="logInPassword"/>
        <button v-on:click="logIn" type="submit">Log In</button>
      </div>
      <HomeRegisterButton />
    </div>
    <div id="login-failed-toast" v-bind:class="{ show: logInError }">
      <h4>{{ logInErrorMessage }}</h4>
    </div>
  </div>
</template>

<script>
import HomeRegisterButton from "../home/HomeRegisterButton";
import axios from "axios";

export default {
  name: "HomeLogIn",
  components: {
    HomeRegisterButton,
  },
  data: function () {
    return {
      logInUsername: '',
      logInPassword: '',
      isAuthorized: false,
      logInError: false,
      logInErrorMessage: '',
    }
  },

  updated () {
    if (this.logInError) {
      setTimeout(() => this.logInError = false, 2800);
    }
  },

  methods: {
    logIn: function (event) {
      event.preventDefault();
      axios.post('http://127.0.0.1:8000/api/token/', {
        username: this.logInUsername,
        password: this.logInPassword
      }).then(function (response) {
        localStorage.access = response.data.access;
        localStorage.refresh = response.data.refresh;
        localStorage.isLoggedIn = "true";
        location.reload();
      }).catch(error => {
        this.logInErrorMessage = error.response.data.detail;
        this.logInError = true;
        
      });
    }
  },

};
</script>

<style scoped>
.logIn-container {
  background-color: #dce0e5;
  width: 400px;
  height: 270px;
  border-radius: 4px;
}

.logIn-inner-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

input {
  margin: 10px;
  padding: 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

button {
  margin: 20px 10px 10px 10px;
  padding: 20px;
  font-size: 16px;
  background-color: #023e8a;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: #0359c9;
}

#login-failed-toast {
  visibility: hidden;
  position: fixed;
  left: 45%;
  top: 50px;
  background-color: black;
  color: white;
  min-width: 200px;
  padding: 10px;
}

#login-failed-toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 50px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 50px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 50px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

</style>