<template>
  <div id="HomeRegisterButton-base">
    <div class="horizontal-line-container">
      <hr>
      <h4>Or</h4>
      <hr>
    </div>
    <button v-on:click="registerPage">Register</button>
  </div>
</template>

<script>
export default {
  name: "HomeRegisterButton",
  methods: {
    registerPage: function () {
      this.$router.push('/register')
    }
  }
};
</script>

<style scoped>

#HomeRegisterButton-base {
  margin-top: 20px;
}

button {
  padding: 20px;
  font-size: 16px;
  background-color: #42b72a;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  width: 100%;
}

button:hover {
  cursor: pointer;
  background-color: #60d548;
}

.horizontal-line-container {
  display: flex;
}

hr {
  width: 100%;
  height: 1px;
  margin: auto;
  background-color: black;
}

</style>