<template>
  <div id="HomeDisplay-base">
    <h1>Organize your favorite books’ reading adventures now.</h1>
  </div>
</template>

<script>
export default {
  name: "HomeDisplay",
};
</script>

<style scoped>
h1 {
  color: #023e8a;
  font-size: 48px;
  text-align: start;
}

#HomeDisplay-base {
  width: 50%;
}

#now {
  width: 0;
  overflow: hidden;
  display: inline-flex;
  animation-name: typing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  12.5% {
    width: 35.8px;
  }
  25% {
    width: 71.6px;
  }
  50% {
    width: 107.53px;
  }
  62.5% {
    width: 71.6px;
  }
  80% {
    width: 35.8px;
  }
  100% {
    width: 0;
  }
}

</style>