<template>
  <div id="Registerpage-base">
    <NavigationBar />
    <div id="registration-section">
      <Registration />
    </div>
  </div>
</template>

<script>
import NavigationBar from "../miscs/NavigationBar.vue";
import Registration from "../register/Registration.vue";

export default {
  name: "Registerpage",
  components: {
    NavigationBar,
    Registration,
  },
};
</script>

<style scoped>
  #registration-section {
    display: flex;
    justify-content: center;
  }
</style>