<template>
  <div id="Registration-base">
    <h2 id="create-account">Create your account</h2>
    <div class="registration-input-section">
      <input type="email" placeholder="E-mail" v-model="registerEmail" />
      <div class="error-popover" v-bind:class="{show: registerErrorEmail}">{{ registerErrorEmailMessage }}</div>
      <input type="text" placeholder="Username" v-model="registerUsername" />
      <div class="error-popover" v-bind:class="{show: registerErrorUsername }">{{ registerErrorUsernameMessage }}</div>
      <input type="password" placeholder="Password" v-model="registerPassword" />
      <div class="error-popover" v-bind:class="{show: registerErrorPassword}">{{ registerErrorPasswordMessage }}</div>
      <button v-on:click="registerAccount" type="submit">Register</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Registration",
  data: function () {
    return {
      registerEmail: "",
      registerUsername: "",
      registerPassword: "",
      registerErrorEmail: false,
      registerErrorUsername: false,
      registerErrorPassword: false,
      registerErrorEmailMessage: "",
      registerErrorUsernameMessage: "",
      registerErrorPasswordMessage: "",
    };
  },
  methods: {
    registerAccount: function (event) {
      event.preventDefault();
      axios
        .post("http://127.0.0.1:8000/apis/register", {
          username: this.registerUsername,
          email: this.registerEmail,
          password: this.registerPassword,
        })
        .then(function (response) {
          console.log(response.data);
        })
        .catch((error) => {
          const errorData = error.response.data;
        
          this.registerErrorEmail = 'email' in errorData;
          this.registerErrorUsername = 'username' in errorData;
          this.registerErrorPassword = 'password' in errorData;

          if (this.registerErrorEmail) {
            this.registerErrorEmailMessage = errorData.email[0];
          }

          if (this.registerErrorUsername) {
            this.registerErrorUsernameMessage = errorData.username[0];
          }

          if (this.registerErrorPassword) {
            this.registerErrorPasswordMessage = errorData.password[0];
          }
        });
    },
  },
};
</script>

<style scoped>
#create-account {
  text-align: center;
}
.registration-input-section {
  width: 400px;
  /* height: 340px; */
  background-color: #dce0e5;
  display: flex;
  flex-direction: column;
}

.registration-input-section input {
  margin: 10px;
  padding: 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

button {
  padding: 20px;
  font-size: 16px;
  background-color: #42b72a;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  margin: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #60d548;
}

.error-popover {
  margin: 10px;
  color: red;
  font-weight: bold;
  display: none;
}

.error-popover.show {
  display: block;
}

</style>