<template>
  <div id="Success-base">
    <NavigationBar />
    <div id="success-section">
      <div id="success-content">
        <h1>Success!</h1>
        <h2>Your account has been created.</h2>
        <h4>You'll be redirected to homepage in 3 seconds so you could start logging in.</h4>
      </div>
    </div>
  </div>
</template>

<script>
import NavigationBar from "../miscs/NavigationBar.vue";

export default {
  name: "Success",
  components: {
    NavigationBar,
  },
  mounted () {
    setTimeout(() => this.$router.push('/'), 3000);
  }
};
</script>

<style scoped>
#success-section {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h4 {
  text-align: center;
}
</style>